<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />

    <title>{% block title %}Home{% endblock %}</title>
  </head>
  <body>
    <nav
      class="navbar navbar-expand-lg navbar-dark bg-dark"
      style="background-color: #17a2b8 !important"
    >
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbar"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar">
        <div class="navbar-nav">
          {%if loggedin == true%}
          <a href="/" class="nav-itm nav-link" id="home" style="color: white"
            >Messages</a
          >
          <a
            href="/edit_acc"
            class="nav-itm nav-link"
            id="logout"
            style="color: white"
            >Settings</a
          >
          <a
            href="/logout"
            class="nav-itm nav-link"
            id="logout"
            style="color: white"
            >logout</a
          >

          {%else%}
          <a
            href="/login"
            class="nav-itm nav-link"
            id="login"
            style="color: white"
            >login</a
          >
          <a
            href="/sign-up"
            class="nav-itm nav-link"
            id="signUp"
            style="color: white"
            >sign Up</a
          >
          {%endif%}
        </div>
      </div>
    </nav>

    {%with messages = get_flashed_messages(with_categories=true)%} {%if
    messages%} {%for categroy, message in messages %}{%if categroy == 'error'%}
    <div class="alert alert-danger alert-dismissable fade show" role="alert">
      {{message}}
      <button class="close" type="button" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {%else%}
    <div class="alert alert-success alert-dismissable fade show" role="alert">
      {{message}}
      <button class="close" type="button" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {%endif%} {%endfor%} {%endif%} {%endwith %}

    <div class="container">{%block content %} {%endblock%}</div>
    <style>
      .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: #17a2b8 !important;
        color: white;
        text-align: center;
      }
    </style>

    <div class="footer">
      <p>Srahah</p>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>

    <script
      type="text/javascript"
      src="{{ url_for('static', filename='index.js') }}"
    ></script>
  </body>
</html>
